body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
}

input{
    max-width: 300px;
}

.hide{
    display: none !important;
}

.btn-upload{
    border:1px solid #3b4ce1;
    color: #3b4ce1;
}

.btn-upload:hover{
    background: #3b4ce1;
    color: white;
}
.icon-main{
    margin-left: 10px;
}

.navbar{
    min-height: 50px;
    max-height: 50px;
}

.navbar-brand{
    font-weight: 500;
}

.card-header{
    font-weight: 500;
}

.bg-primary{
    background: #3b4ce1;
}

.line{
    border: 2px solid rgba(0, 0, 0, 0.116);
}

.value{
    font-weight: 500;
}


.hidden{
    display: none;
}

/* #viewProfile .modal-content{
    border: none !important;
    border-radius: 5px !important;
} */

.line{
    border: 3px solid rgba(0, 0, 0, 0.055);
}

.bg-inv{
    background: red;
    padding: 10px;
}

#loader{
    background: rgba(0, 0, 0, 0.233);
    position: absolute;
    z-index: 99999;
    width: 100%;
}

.hideload{
    visibility: hidden;
}

.hidealert{
    display: none;
}